<html>
    <head>
        <title>Sign Up Account Email</title>
    </head>
    <body style="font-family: roboto">

        <div style="margin: auto; text-align: center; width: 100%; solid red 10px; ">
        <div style="
            padding-top: 30px;
            margin-left:auto;
            margin-right:auto; 
            width: 500px; 
            border: solid green 0px; 
            text-align: left;">

            <div style="font-family: roboto; font-size: 30px; font-weight: bold">
                Welcome to Demo Test
            </div>

            <div style="padding-top: 20px">
                Hello $$FIRST_NAME$$,
            </div>

            <div style="padding-top: 20px">
                Welcome to Demo Test, new test.
            </div>


            <div style="padding-top: 20px">

                <hr>

                <div style="text-align: center; padding: 20px;">
                    <a href="https://facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/100px-Facebook_f_logo_%282019%29.svg.png" style="width:30px"></a>
                    &nbsp;
                    <a href="https://instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/100px-Instagram_logo_2016.svg.png" style="width:30px"></a>
                    &nbsp;
                    <a href="https://snapchat.com/"><img src="https://upload.wikimedia.org/wikipedia/vi/thumb/c/c4/Snapchat_logo.svg/300px-Snapchat_logo.svg.png" style="width:30px"></a>
                    &nbsp;
                    <a href="https://twitter.com/"><img src="https://upload.wikimedia.org/wikipedia/vi/thumb/9/9f/Twitter_bird_logo_2012.svg/150px-Twitter_bird_logo_2012.svg.png" style="width:30px"></a>
                </div>

                <hr>

            </div>

            <div style="padding-top: 20px; text-align:center">
            Contact Us at 
                <a href="https://www.google.com/">ABCTest.com</a>
            </div>

            <div style="padding-top: 20px; text-align:center; font-size: 14px">
            Copyright 2021
            </div>

        </div>
        </div>

    </body>
</html>